.rainbowText {
  background-image: repeating-linear-gradient(-90deg, violet, magenta, skyblue, greenyellow, yellow, orange, red, violet);
  background-size: 800% 800%;
  background-clip: text;
  animation: rainbow 20s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}
